p{
    margin-top: 0;
    margin-bottom: 0;
}
.old{
    text-decoration-line: line-through;
    text-decoration-color: red;
    color: red;
}
.price{
    float: left;
    width: 10%;
    margin-left: 20px;
    text-align: center;
}
.pold{
    color:green;
}
.clearfix1{
    clear:left;
}
.describtion{
    color: darkgray;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 0;
}
h3{
    padding-left: 3px;
}
img{
    padding-left: 20px;
}
.cart{

    color: aliceblue;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.cart i{
    padding-left: 30px;
}
.cart p{
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
}
.clearfix{
    clear: left;
}

.add_cart{
    background-color:brown;
    padding-right: 10px;
    padding-left: 12px;
    margin-left: 12px;

}
.icon{
    background-color :white;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-right-color: brown;
    border-right-width: 2px;
    border-right-style: solid;
    border-left-color: brown;
    border-left-width: 2px;
    border-left-style: solid;
    border-top-color: brown;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: brown;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height:15.5px;
    margin-left: 6px;
}
.icon i{
    padding-right: 10px;
}
div{
    float: left;

}
.first{
    border-right-color:white;
    border-right-width: 5px;
    border-right-style: solid;
    border-left-color: white;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-color: brown;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-color:white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    height: 350px;
    width: 250px;
    margin-left: 10px;
    margin-top: 5px;

}
.main{
    margin-left: 120px;
    
}
h2{
    border-right-color:white;
    border-right-width: 5px;
    border-right-style: solid;
    border-left-color: white;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-color: white;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-color:brown;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    width:fit-content;
}